* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
    font-size: 0.625em;
}

@media (min-width: 100em) {
    html {
        font-size: 0.75em;
    }
}

@media (min-width: 120em) {
    html {
        font-size: 0.9em;
    }
}

@media (min-width: 140em) {
    html {
        font-size: 1.05em;
    }    
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    min-height: 100%;
    background-color: rgb(100, 100, 100);
    background-image:
        linear-gradient(90deg, rgb(226,29,60) 40%, rgba(0, 0, 0, 0.5) 40%, transparent 45%),
        url("../images/waves-cropped.svg"),
        linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url("../images/pexels-cesar-galeao-3289711-gray.jpg");

    background-repeat:
        no-repeat,
        no-repeat, 
        no-repeat,
        no-repeat;

    background-size:
        100% 100%, 
        40% auto,
        100% 100%,
        60% auto;

    background-position:
        50% 50%,
        100% 100%,
        50% 50%,
        100% 25%;
}

@media (max-width: 62.5em) {
    body {
        background-color: rgb(226,29,60);
        background-image: url("../images/waves-white-cropped.svg");
        background-attachment: initial;
        background-repeat: no-repeat;
        background-position: 100% 100%;
        background-size: 25vw auto;
    }
}

.page {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

@media (max-width: 62.5em) {
    .page {
        flex-direction: column;
    }
}

.main-content {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.countdown {
    flex: 0 1 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    width: 27.5rem;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}

.main-offer {
    margin: 10rem 1.5rem 10rem 1.5rem;
    align-self: center;
}

.main-heading {
    margin: 0;
    letter-spacing: 0.05em;
    font-size: 2.8rem;
    font-style: italic;
    font-weight: normal;
    color: white;
}

.main-heading > strong {
    text-transform: uppercase;
    font-weight: 700;
}

.main-offer-price {
    display: block;
    font-size: 12rem;
    margin-top: 1.8rem;
}

.join-today {
    display: inline-block;
    background: black;
    color: white;
    text-transform: uppercase;
    font-style: normal;
    font-size: 2.4rem;
    text-decoration: none;
    border-radius: 99999px;
    padding: 1.0rem 5.0rem;
    margin-top: 4.0rem;
    letter-spacing: 0.05em;
}

.join-today:hover {
    background-color: rgb(50, 50, 50);
}

.info {
    display: block;
    margin: 1.5rem 0 1.5rem 1.5rem;
    color: black;
}

.countdown-heading {
    margin: 0;
    color: white;
    text-align: center;
    letter-spacing: 0.05em;
    font-weight: normal;
    font-size: 2.8rem;
    text-transform: uppercase;
}

.countdown-paragraph {
    margin: 0;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 5.8rem;
}
